     	<div class="col-sm-12 col-xs-12">
	 	<a href="/">	<h1> <b>A Bot Reading Emails </b></h1> </a>
<i><h4> Reading and analyzing for you </h4></i>
	 	<!-- </div>
	 	<div class="col-sm-3 col-xs-4">
            <br/>
	 		<a href="/">
	 		<img src="<%= asset_path( 'title.png' ) %>" class="img-rounded" style="width:100%">

	 	</div>
        <!-- <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"><a href="/">
            <img src="<%= asset_path( 'email.jpg' ) %>" class="img-rounded" style="width:100%"></a>
        </div> -->

        <br/>
        <br/>
