
<div class="row">
	<div class="jumbotron">
	<div class="col-sm-12 col-xs-12">
 		<h1>The Bot Reading Emails </h1></center>
 		<p>Reading, Analyzing, and getting insights for you. </p>

 	</div>
 	</div>
</div>
<div class="row">
	<div class="container">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">
	<div class="row">

				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="text-align: center;">
					<a href="/reader/searchdata?keyword=">
					<img src="<%= asset_path( '1.jpg' ) %>" class="img-rounded" style="width:100%"></a>
					<h3>DATABASE</h3>
					<p name="list">bbk0529@gmail.com</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="text-align: center;">
					<a href="/reader/insert">
					<img src="<%= asset_path( '2.jpg' ) %>" class="img-rounded" style="width:100%"></a>
					<h3>INPUT</h3>
					<p  name="insert">Input emails manually</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="text-align: center;">
					<a href="/reader/import">
					<img src="<%= asset_path( '3.jpg' ) %>" class="img-rounded" style="width:100%">
		    		</a>
					<h3  >IMPORTING</h3>
					<p  name="summary">Scrapping your emails</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="text-align: center;">
					<a href="/reader/summary">
					<img src="<%= asset_path( '4.jpg' ) %>" class="img-rounded" style="width:100%"></a>
					<h3>SUMMARY</h3>
					<p  name="summary">Summary of Analysis</p>
				</div>

	</div>
</div>
</div>

</div>

	<div class="row">
	<div class="col-sm-1 col-sx-1"></div>
		<div id="chart"></div>
	<div class="col-sm-1 col-sx-1"></div>
	</div>
